<?xml version="1.0"?>
<!-- Revolute-Revolute Manipulator -->
<!--
Copied and modified from ROS1 example -
https://github.com/ros-simulation/gazebo_ros_demos/blob/kinetic-devel/rrbot_description/urdf/rrbot.xacro
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="2dof_robot">

  <!-- Enable setting arguments from the launch file -->
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="slowdown" default="2.0" />

  <!-- Import RRBot macro -->
  <xacro:include filename="$(find ros2_control_ams)/urdf/ams_description.urdf" />

  <!-- Import AMS ros2_control description -->
  <xacro:include filename="$(find ros2_control_ams)/ros2_control/ams_actuators.ros2_control.xacro" />

  <xacro:ams_actuators
    name="AMSPositionHardware" prefix="$(arg prefix)"
    slowdown="$(arg slowdown)" />

</robot>
